<main class="main-container">
  <section class="box-header">
    <button type="button" mat-raised-button (click)="logout()">
      <mat-icon class="button-icon">logout</mat-icon>
      Logout
    </button>

    <span class="chip">Usuario: {{ username }}</span>
  </section>
  <div>
    <h1 class="title">Tareas</h1>

    <div class="middle-container">
      <form
        class="new-task-container"
        (ngSubmit)="onCreateTask()"
        #createForm="ngForm"
      >
        <section>
          <div class="input-container">
            <label for="newTaskTitle">Título:</label>
            <input
              type="text"
              id="newTaskTitle"
              name="newTaskTitle"
              [(ngModel)]="newTask.title"
              required
            />
          </div>
          <div class="input-container">
            <label for="newTaskDescription">Descripción:</label>
            <textarea
              id="newTaskDescription"
              name="newTaskDescription"
              [(ngModel)]="newTask.description"
            ></textarea>
          </div>
        </section>
        <button type="submit">Crear Tarea</button>
      </form>

      <div class="container-tasks">
        <p class="subtitle"></p>
        <div *ngFor="let task of tasks">
          <section class="task-header">
            <div class="subheader">
              <h3>{{ task.title }}</h3>
            </div>

            <div class="checkbox-container">
              <input
                class="checkbox-style"
                title="Marcar como completado"
                type="checkbox"
                id="task-{{ task.id }}"
                name="task-{{ task.id }}"
                [checked]="task.completed"
                (change)="onToggleCompleted(task)"
              />

              <div *ngIf="task.completed" class="completed-message">
                <p>Completada</p>
              </div>
            </div>
          </section>

          <section class="task-body">
            <p><strong>Descripcion:</strong> {{ task.description }}</p>
            <p><strong>Creado en:</strong> {{ task.createdAt | date }}</p>
          </section>
          <section class="task-footer">
            <button
              type="button"
              class="delete-button"
              (click)="deleteTask(task.id)"
              [disabled]="task.completed"
            >
              Eliminar
            </button>
            <button
              type="button"
              class="edit-button"
              (click)="editTask(task)"
              [disabled]="task.completed"
            >
              Editar
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>
