<main class="main-container">
  <section class="box-header">
    <button type="button" mat-raised-button (click)="logout()">
      <mat-icon class="button-icon">logout</mat-icon>
      Logout
    </button>

    <span class="chip">Usuario: {{ username }}</span>
  </section>
  <div>
    <h1 class="title">Tareas</h1>

    <div class="middle-container">
      <form
        class="new-task-container"
        autocomplete="off"
        [formGroup]="taskForm"
      >
        <section class="input-container">
          <mat-form-field appearance="outline" class="width-form-field-tasks">
            <mat-label>Titulo</mat-label>
            <input
              type="text"
              matInput
              title="Titulo"
              formControlName="title"
              required
            />
            <mat-error>Titulo es requerido.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="width-form-field-tasks">
            <mat-label>Descripción</mat-label>
            <input
              type="text"
              matInput
              title="Descripción"
              formControlName="description"
              required
            />
            <mat-error>Descripción es requerido</mat-error>
          </mat-form-field>
        </section>
        <button type="button" (click)="onCreateTask()">Crear Tarea</button>
      </form>

      <div class="container-tasks">
        <p class="subtitle"></p>
        <div *ngFor="let task of tasks">
          <section class="task-header">
            <div class="subheader">
              <h3>{{ task.title }}</h3>
            </div>

            <div class="checkbox-container">
              <input
                class="checkbox-style"
                title="Marcar como completado"
                type="checkbox"
                id="task-{{ task.id }}"
                name="task-{{ task.id }}"
                [checked]="task.completed"
                (change)="onToggleCompleted(task)"
              />

              <div *ngIf="task.completed" class="completed-message">
                <p>Completada</p>
              </div>
            </div>
          </section>

          <section class="task-body">
            <p><strong>Descripcion:</strong> {{ task.description }}</p>
            <p><strong>Creado en:</strong> {{ task.createdAt | date }}</p>
          </section>
          <section class="task-footer">
            <button
              type="button"
              class="delete-button"
              (click)="deleteTask(task.id)"
              [disabled]="task.completed"
            >
              Eliminar
            </button>
            <button
              type="button"
              class="edit-button"
              (click)="editTask(task)"
              [disabled]="task.completed"
            >
              Editar
            </button>
          </section>
        </div>
      </div>
    </div>
  </div>
</main>

<app-spinner *ngIf="isLoadingSpinner" [overlay]="true"></app-spinner>
